{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                    <h2>Edit</h2>
                    <hr>
                    <form action="{% url 'update' edit_post.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            제목 : <input type="text" name="title" value="{{edit_post.title}}">
                        </div>
                        <div>
                            작성자 : <input type="text" name="writer" value="{{edit_post.writer}}"> 
                        </div>
                        <div>
                            기분 : <input type = "text" name="feelings" value="{{edit_post.feelings}}">
                        </div>
                        <div>
                            내용 : <textarea name="body" cols="30 " rows="5">{{edit_post.body}}</textarea> 
                        </div>
                        <div>
                            업로드 : <input name="image" type="file">
                        </div>
                        <button type="submit">수정</button>
                    </form>
                </div>
            </section>
            {% endblock %}
        